<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Phase1-Ecom-BankOperations</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>CreateDatabase</servlet-name>
  <servlet-class>com.ecommerce.connection.CreateDatabase</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>CreateDatabase</servlet-name>
  <url-pattern>/create-db</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>InsertCustomer</servlet-name>
  <servlet-class>com.ecommerce.customers.InsertCustomer</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>InsertCustomer</servlet-name>
  <url-pattern>/insert-cust</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ListCustomers</servlet-name>
  <servlet-class>com.ecommerce.customers.ListCustomers</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ListCustomers</servlet-name>
  <url-pattern>/list-cust</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>UpdateWithParam</servlet-name>
  <servlet-class>com.ecommerce.customers.UpdateWithParam</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>UpdateWithParam</servlet-name>
  <url-pattern>/update-with-parm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DeleteCustomer</servlet-name>
  <servlet-class>com.ecommerce.customers.DeleteCustomer</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>DeleteCustomer</servlet-name>
  <url-pattern>/delete-cust</url-pattern>
  </servlet-mapping>
  
</web-app>